<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>

  <body>
    <%- include("partials/header") %>
    <h1><%= movie.title %></h1>
    <br />
    <p>RATING: <%= movie.rating %></p>
    <p>AWARDS: <%= movie.awards %></p>
    <p>LENGTH: <%= movie.length + ' min'%></p>
    <p>RELEASE DATE: <%= movie.release_date %></p>

    <p>GENRE:</p>
    <% if (movie.genre_id) { %>
    <p><a href="/genres/detail/<%= movie.genre_id %>"><%= movie.genre %></a></p>
    <% } else { %>
    <p><%= movie.genre %></p>
    <% } %>

    <p>ACTORS:</p>
    <ul>
      <% for( let i = 0; i < movie.actors.length; i++ ) { %>
      <li>
        <a href="/actors/detail/<%= movie.actors[i].id %>"
          ><%= movie.actors[i].first_name + ' ' + movie.actors[i].last_name
          %></a
        >
      </li>
      <% } %>
    </ul>

    <button><a href="/movies">Volver</a></button>
    <button><a href="/movies/edit/<%= movie.id %>">Editar</a></button>
    <button><a href="/movies/delete/<%= movie.id %>">Eliminar</a></button>
  </body>
</html>
